apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: gardener-operator
  namespace: garden
spec:
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  path: {{ .landscapeComponentPath }}
  prune: true
  interval: 30m
  wait: true
